/* .happy-client {
  margin-bottom: 148px;
}
.happy-client-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.happy-client-title {
  text-align: center;
  width: 485px;
  height: 49px;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  color: black;
  margin-bottom: 17px;
}
.happy-client-text {
  text-align: center;
  width: 588px;
  height: 29px;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 85px;
}

.happy-client-img {
  position: relative;
  margin-left: 75px;
}
.ellipse-happy-client {
  box-sizing: border-box;
  position: absolute;
  width: 120px;
  height: 120px;
  margin-left: 100px;
  top: 2990px;
  border: 8.8px solid #FF007A;
  border-radius: 100%;
}
.happy-client-carousel {
  display: flex;
}
.happy-client-carousel-title {
  width: 153px;
  height: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: black;
  margin-top: 84px;
  margin-bottom: 21px;
}
.happy-client-carousel-text {
  width: 412px;
  height: 78px;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 40px;
}
.happy-clients-group-center {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-left: 162px;
  margin-top: 135px;
}
.happy-clients-group-1 {
  position: absolute;
  width: 98px;
  height: 98px;
  margin-left: 50px;
  top: 2755px;
}
.happy-clients-group-2 {
  position: absolute;
  width: 68px;
  height: 68px;
  margin-left: 175px;
  top: 2700px;
}
.happy-clients-group-3 {
  position: absolute;
  width: 54px;
  height: 54px;
  margin-left: 285px;
  margin-top: 90px;
}
.happy-clients-group-4 {
  position: absolute;
  width: 54px;
  height: 54px;
  margin-left: 330px;
  margin-top: 175px;
}
.happy-clients-group-5 {
  position: absolute;
  width: 68px;
  height: 68px;
  margin-left: 265px;
  margin-top: 255px;
}
.happy-clients-group-6 {
  position: absolute;
  width: 98px;
  height: 98px;
  margin-left: 135px;
  margin-top: 290px;
}
.happy-clients-group-7 {
  position: absolute;
  width: 68px;
  height: 68px;
  margin-left: 50px;
  margin-top: 230px;
}
.ellipse-1-happy-client {
  width: 16px;
  height: 16px;
  left: 741px;
  top: 3009px;
  margin-right: 26px;
  border-radius: 100%;
  background: #E7F0FC;
}
.ellipse-2-happy-client {
  width: 16px;
  height: 16px;
  left: 741px;
  top: 3009px;
  margin-right: 26px;
  border-radius: 100%;
  background: #2639ED;
}
.ellips {
  display: flex;
}
.happy-client-dots {
  position: absolute;
  width: 196px;
  height: 154px;
  margin-left: 347px;
  margin-top: -7px;
}
.ellipse-client-group {
  position: absolute;
  width: 184px;
  height: 184px;
  margin-left: 70px;
  top: 2815px;
  border-radius: 100%;
  background: #FFF5DB;
} */