.header {
  padding-top: 42px;
  padding-bottom: 40px;
}
.header-row {
  display: flex;
  align-items: center;
}
.logo {
  
}
.header-nav {
  font-family: "Georgia", "Lato";
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-left: 380px;
}
.header-nav li + li {
  margin-left: 60px;
}
.header-nav a {
  transition: color 0.2s ease;
}
.header-nav a:hover {
  color: #01996d;
}
